@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 38% 21%;
    --foreground: 210 40% 98%;

    --card: 207 87% 43%;
    --card-foreground: 210 40% 98%;

    --popover: 245 38% 26%;
    --popover-foreground: 210 40% 98%;

    --primary: 150 56% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 245 30% 28%;
    --secondary-foreground: 210 40% 98%;

    --muted: 245 20% 30%;
    --muted-foreground: 245 15% 75%;

    --accent: 207 87% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 245 30% 35%;
    --input: 245 30% 35%;
    --ring: 150 56% 45%;

    --radius: 0.5rem;

    --sidebar-background: 245 38% 21%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 150 56% 45%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 245 30% 28%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 245 30% 35%;
    --sidebar-ring: 150 56% 45%;
  }

  .dark {
    --background: 245 38% 21%;
    --foreground: 210 40% 98%;

    --card: 207 87% 43%;
    --card-foreground: 210 40% 98%;

    --popover: 245 38% 26%;
    --popover-foreground: 210 40% 98%;

    --primary: 150 56% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 245 30% 28%;
    --secondary-foreground: 210 40% 98%;

    --muted: 245 20% 30%;
    --muted-foreground: 245 15% 75%;

    --accent: 207 87% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 245 30% 35%;
    --input: 245 30% 35%;
    --ring: 150 56% 45%;

    --sidebar-background: 245 38% 21%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 150 56% 45%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 245 30% 28%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 245 30% 35%;
    --sidebar-ring: 150 56% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}